* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

ul {
    list-style-type: none;
}

.hero-section, .information-section, .quote-section, .cta-section {
    flex: auto;
}

#header, #footer, .hero-section {
    background-color: #1F2937;
    color: white;
}

.quote-section {
    background-color: #E5E7EB;
}

#header {
    padding: 16px 0;
    display: flex;
    justify-content: space-evenly;
}

#header h1 {
    font-size: 24px;
}

#header a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

#navigation {
    display: flex;
    gap: 16px;
    align-items: center;
}

.hero-section {
    display: flex;
    padding: 50px 200px;
}

.hero-container {
    flex: 1 1 100px;
}

.sign-up-button {
    background-color: #3882F6;
    color: white;
    padding: 6px 24px;
    border: none;
    border-radius: 8px;
}

.hero-section img {
    flex: auto;
    width: 300px;
    height: 150px;
    background-color: gray;
}

#footer {
    padding: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer p {
    font-size: 14px;
}