* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
}

.hero-section, .information-section, .quote-section, .cta-section {
    flex: auto;
}

#header, #footer, .hero-section {
    background-color: #1F2937;
    color: white;
}

.quote-section {
    background-color: #E5E7EB;
}

#header {
    padding: 16px 0;
    display: flex;
    justify-content: space-evenly;
}

#header h1 {
    font-size: 24px;
    color: #F9FAF8;
}

#header a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

#navigation {
    display: flex;
    gap: 16px;
    align-items: center;
}

.hero-section {
    padding-top: 48px;
    display: flex;
    gap: 32px;
}

.hero-container {
    flex: auto;
    margin-left: 15%;
    display: flex;
    flex-flow: column wrap;
}

.hero-container h1 {
    font-size: 48px;
    color: #F9FAF8;
}

.hero-container p {
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up-button {
    background-color: #3882F6;
    color: white;
    width: 96px;
    margin-top: 8px;
    padding: 6px 24px;
    border: none;
    border-radius: 8px;
}

.hero-section img {
    background-color: gray;
    width: 420px;
    height: 200px;
    flex: 0 1 auto;
    margin-right: 15%;
}

#footer {
    padding: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer p {
    font-size: 14px;
}